<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="{{charset}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://res.cloudinary.com/sijey/raw/upload/v1543443911/bootstrap/bootstrap-grid.min.css" type="text/css">
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="icon" type="image" href="/favicon.ico">
    <title>{{title}} | {{description}}</title>
</head>
<body>
     
    {{!-- Navbar Partials --}}
    {{> navbar}}

    {{{body}}}

    <script src="js/func.js"></script>
</body>
</html>